img {
  max-width: 100%;
}

.small-logo {
  width: 150px;
}
.medium-logo {
  width: 200px;
}

.bheader-logo {
  width: 160px;
  padding: 10px;
}

.underlay .underlay-img {
  position: relative;
}

.down-button {
  margin-top: 10px;
}
